@media screen and (max-width:800px){
    body {width: 800px;}
}
@media screen and (max-width:1600px){
    #top {width: calc(100%-30px);}
}
@media screen and (max-width:1550px){
    main .content2 .bg2 {
        background: url(../tastimg/bg2_uiux.jpg) center no-repeat;
        background-size: cover; text-align: center;
    }
    main .content2 .bg2 .txt2 {
        background: rgba(254, 248, 229, 64%);
        display: inline-block; padding: 10px;

    }
}
@media screen and (max-width:1430px){
    main .content1 .bg1 {display: flex; flex-flow: column nowrap; align-items: center;}
    main .content1 .bg1 .shaptitle a span:last-child{
        display: none;
    }
    main .content1 .bg1 .shaptitle {
        background: rgba(214, 191, 157, 40%);
        width: 900px; border-radius: 100px;
    }
    main .content1 .bg1 .shaptitle a {margin:10px 20px 0 0;}
    main .content1 .bg1 .shaptitle a:nth-child(1) {right: 0px;}
    main .content1 .bg1 .shaptitle a:nth-child(2) {right: 0px;}
    main .content1 .bg1 .shaptitle a:nth-child(3) {left: 0px;}
    main .content1 .bg1 .shaptitle a:nth-child(4) {margin-right:0; left: 0px;}
}
@media screen and (max-width:1200px) {
    main .content1 .bg1 {height: 500px;}
    main .content1 .bg1 .title .name .info {display: none;}
    main .content1 .bg1 .shaptitle {margin-top: 50px;}
    main .content1 .bg1 .title .sub_title span {width: 100px;}
}

